.feed{
    flex: 5.5;
}

.feedWrapper{
    margin-top: 8vh;
    padding: 20px;
}
/* Small Screens Post section */
@media screen and (max-width: 599px){
        .feed{
            margin-top: 18vw;
            
        }
       
    
}
/* bigger Screens feed section */
@media screen and (min-width: 901px){
    .feedWrapper{
        margin-top: 2.5vh;
        
       
    }
}


