.form-container {
  width: 100vw;
  height: 50rem;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  display: flex;
}

.loginLeft,
.loginRight {
  
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginRight{
margin-left: 8vw;
}

.loginBox{
  height: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginDesc {
  font-size: 1.5vw;
}

Button{
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


Input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

@media screen and (max-width: 920px) {
  .form-container{
    width: 125vw;
  }
  
}
@media screen and (max-width: 599px){
  .form-container{
     display: block;
  }
  .loginLogo{
   text-align: center;
  }
 .loginDesc{
   font-size: 3.2vw;
   margin-left: 7vw;
 text-align: center;
 }
.loginBox{
  margin-right: 8vw;
}
}

/* Input:focus{
    outline: none;
} */

/* 

.loginButton:focus{
  outline: none;
}



.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
} */




/* .loginForgot{
    text-align: center;
    color: #1775ee;
} */

/* .loginButton:disabled{
  cursor: not-allowed;
} */
/* .flex-row justify-center mb-4 {

}

.col-12 col-lg-10 {

}

.card {

}

.card-header bg-dark text-light p-2 {

}

.card-body {

}

.form-input-email {

}

.form-input-password {

}

.btn btn-block btn-info {

}

.my-3 p-3 bg-danger text-white {

} */