  .navbarLeft {
    flex: 4;
  }
  
  .logo {
    margin-left: 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .navbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .navbarIcons {
    display: flex;
    justify-content:flex-end;
    margin: -33px 10px;
   
  }
  
  .navbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .navbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .navbarImg {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white;
    margin-right: .5rem;
  }


.listItems{
  display:flex;
  flex-direction: column;
  padding:initial;
}

 @media screen and (max-width: 920px) {
    .userName{
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
   .navbarIcons {
      display: none;}
  }
  @media screen and (min-width: 600px) {
    .navbarIcons {
      display: flex;
      justify-content:flex-end;
      margin: -33px 10px;}
   }
   @media screen and (min-width: 600px){
    .AppBar-root {
        height: calc(25% - 240px);
    }
}
/* @media screen and (min-width:768px), (min-height:1024px){
  .AppBar-root {
    height: calc(15% - 240px);
  }
  .navbarIconBadge {
    
    background-color:green;
    
  }
} */